div.bottomSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.bottomSection button {
  transition: box-shadow 0.25s ease;
  position: relative;
  border: none;
  min-width: 3rem;
  min-height: 3rem;
  font-size: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(232, 230, 235);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.75);
  user-select: none;
}

div.bottomSection button.operator::after {
  content: "";
  transition: background-color 0.25s ease;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: lightgray;
  border-radius: 100%;
}

div.bottomSection button.operator.active::after {
  background-color: rgb(5, 200, 5);
}

div.bottomSection button:hover {
  background-color: rgb(238, 236, 242);
  color: rgba(0, 0, 0, 0.9);
}

div.bottomSection button:focus {
  border-color: rgba(0, 0, 20, 0.25);
  box-shadow: 0px 0px 5px rgba(0, 0, 20, 0.25);
  outline: none;
  color: rgba(0, 0, 0, 0.9);
  background-color: rgb(242, 240, 245);
}

div.bottomSection button:active {
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgb(242, 240, 245);
  color: black;
}

div.sidebyside {
  grid-column: -1/1;
  display: flex;
  align-items: stretch;
  gap: 0.25rem;
}

.flexGrow-1 {
  flex-grow: 1;
}
