:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  height: 100vh;
}

p {
  margin: 0;
  padding: 0;
}
