div.topSection {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  background-color: slategray;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  font-family: monospace;
}

div.operandsRow {
  display: flex;
  gap: 0.5ch;
  font-size: 1.75rem;
}

.operanderEmpty {
  color: rgba(255, 255, 255, 0.25);
}
